
<h3>Testing Redirect Page</h3>
<p>Should be the dishId:</p>


@* @model int
<p>@Model</p> *@


@model Dish
<p>@Model.Name</p>
@* <p>@Model.dishChef</p> *@
<p>@Model.Description</p>
<p>@Model.Tastiness</p>
<p>@Model.Calories</p>

<p>@Model.CreatedAt (Created)</p>
<p>@Model.UpdatedAt (Updated)</p>